variables:
  VERSION: v0.0.1dev

default:
  interruptible: true

workflow:
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        DEPLOYMENT_ENV: prod
        NAMESPACE: prod
        KUBECONFIG_BASE64: $KUBECONFIG_B64
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        DEPLOYMENT_ENV: staging
        NAMESPACE: staging
        KUBECONFIG_BASE64: $KUBECONFIG_B64_TEST
    - if: $CI_COMMIT_BRANCH
      variables:
        DEPLOYMENT_ENV: dev
        NAMESPACE: $CI_COMMIT_REF_SLUG
        KUBECONFIG_BASE64: $KUBECONFIG_B64_TEST

stages:
  - prepare
  - codestyle
  - security
  - test
  - build
  - deploy
  - rollback
  - undeploy

ops-job-runner:build:
  stage: prepare
  image: docker:latest
  needs: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE/ops-job-runner:$CI_PIPELINE_ID -f deployment/ci-cd/ops.job-runner.Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/ops-job-runner:$CI_PIPELINE_ID

dev-job-runner:build:
  stage: prepare
  image: docker:latest
  needs: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE/dev-job-runner:$CI_PIPELINE_ID -f deployment/ci-cd/dev.job-runner.Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/dev-job-runner:$CI_PIPELINE_ID

###########
# Imports #
###########

include:
  - local: frontend/.gitlab-ci.yml
  - local: backend/.gitlab-ci.yml

#########
# Build #
#########

.build.template:
  stage: build
  image: $CI_REGISTRY_IMAGE/ops-job-runner:$CI_PIPELINE_ID
  variables:
    MODULE: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - |
      cat <<EOF >> skaffold.env
      SKAFFOLD_DEFAULT_REPO=$CI_REGISTRY_IMAGE
      VERSION=$VERSION
      NAMESPACE=$NAMESPACE
      EOF
    - |
      echo "$KUBECONFIG_BASE64" | base64 -d > kubeconfig.yaml
      export KUBECONFIG="$PWD/kubeconfig.yaml"
  script:
    - skaffold build --file-output skaffold-deploy-$MODULE.json -p $DEPLOYMENT_ENV -m $MODULE
  artifacts:
    paths:
      - skaffold-deploy-*.json
    expire_in: 3 days

frontend:build:
  extends: .build.template
  variables:
    MODULE: frontend

backend:build:
  extends: .build.template
  variables:
    MODULE: backend

documentation:build:
  extends: .build.template
  variables:
    MODULE: documentation

##########
# Deploy #
##########

.deploy.template:
  stage: deploy
  image: $CI_REGISTRY_IMAGE/ops-job-runner:$CI_PIPELINE_ID
  when: manual
  allow_failure: true
  variables:
    MODULE: ""
  before_script:
    - |
      cat <<EOF >> skaffold.env
      SKAFFOLD_DEFAULT_REPO=$CI_REGISTRY_IMAGE
      VERSION=$VERSION
      NAMESPACE=$NAMESPACE
      EOF
    - |
      echo "$KUBECONFIG_BASE64" | base64 -d > kubeconfig.yaml
      export KUBECONFIG="$PWD/kubeconfig.yaml"
  script:
    - |
      if [ -f "skaffold-deploy-$MODULE.json" ]; then
        skaffold deploy -a skaffold-deploy-$MODULE.json -m $MODULE -p $DEPLOYMENT_ENV
      else
        skaffold deploy -m $MODULE -p $DEPLOYMENT_ENV
      fi

namespace:deploy:
  extends: .deploy.template
  script:
    - kubectl create namespace $NAMESPACE || echo "Namespace $NAMESPACE already exists"

frontend:deploy:
  extends: .deploy.template
  needs:
    - frontend:build
  dependencies:
    - frontend:build
  variables:
    MODULE: frontend

backend:deploy:
  extends: .deploy.template
  needs:
    - backend:build
  dependencies:
    - backend:build
  variables:
    MODULE: backend

documentation:deploy:
  extends: .deploy.template
  needs:
    - documentation:build
  dependencies:
    - documentation:build
  variables:
    MODULE: documentation

############
# Rollback #
############

.rollback.template:
  stage: rollback
  image: $CI_REGISTRY_IMAGE/ops-job-runner:$CI_PIPELINE_ID
  when: manual
  allow_failure: true
  variables:
    RELEASE_NAME: ""
  before_script:
    - |
      echo "$KUBECONFIG_BASE64" | base64 -d > kubeconfig.yaml
      export KUBECONFIG="$PWD/kubeconfig.yaml"
  script:
    - helm rollback $RELEASE_NAME -n $NAMESPACE

frontend:rollback:
  extends: .rollback.template
  needs:
    - frontend:deploy
  variables:
    RELEASE_NAME: frontend

backend:rollback:
  extends: .rollback.template
  needs:
    - backend:deploy
  variables:
    RELEASE_NAME: backend

documentation:rollback:
  extends: .rollback.template
  needs:
    - documentation:deploy
  variables:
    RELEASE_NAME: documentation

############
# Undeploy #
############

.undeploy:template:
  stage: undeploy
  image: $CI_REGISTRY_IMAGE/ops-job-runner:$CI_PIPELINE_ID
  when: manual
  allow_failure: true
  variables:
    MODULE: ""
  before_script:
    - |
      cat <<EOF >> skaffold.env
      SKAFFOLD_DEFAULT_REPO=$CI_REGISTRY_IMAGE
      VERSION=$VERSION
      NAMESPACE=$NAMESPACE
      EOF
    - |
      echo "$KUBECONFIG_BASE64" | base64 -d > kubeconfig.yaml
      export KUBECONFIG="$PWD/kubeconfig.yaml"
  script:
    - skaffold delete -m $MODULE -p $DEPLOYMENT_ENV

namespace:undeploy:
  extends: .undeploy:template
  script:
    - skaffold delete -m frontend -p $DEPLOYMENT_ENV
    - skaffold delete -m backend -p $DEPLOYMENT_ENV
    - kubectl delete all --all -n $NAMESPACE
    - kubectl delete namespace $NAMESPACE

frontend:undeploy:
  extends: .undeploy:template
  variables:
    MODULE: frontend

backend:undeploy:
  extends: .undeploy:template
  variables:
    MODULE: backend

documentation:undeploy:
  extends: .undeploy:template
  variables:
    MODULE: documentation
